<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-bonus-heading" data-cy="BonusCreateUpdateHeading" jhiTranslate="adpaiekevinApp.bonus.home.createOrEditLabel">
        Créer ou éditer un Bonus
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="adpaiekevinApp.bonus.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="adpaiekevinApp.bonus.montant" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
          <div *ngIf="editForm.get('montant')!.invalid && (editForm.get('montant')!.dirty || editForm.get('montant')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montant')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montant')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="adpaiekevinApp.bonus.contrat" for="field_contrat">Contrat</label>
          <select
            class="form-control"
            id="field_contrat"
            data-cy="contrat"
            name="contrat"
            formControlName="contrat"
            [compareWith]="compareContrat"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="contratOption" *ngFor="let contratOption of contratsSharedCollection">{{ contratOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
