<div>
  <h2 id="page-heading" data-cy="CongeHeading">
    <span jhiTranslate="adpaiekevinApp.conge.home.title">Conges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="adpaiekevinApp.conge.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conge"
        [routerLink]="['/conge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="adpaiekevinApp.conge.home.createLabel"> Créer un nouveau Conge </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="conges?.length === 0">
    <span jhiTranslate="adpaiekevinApp.conge.home.notFound">Aucun Conge trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="conges && conges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="holdateStart">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.holdateStart">Holdate Start</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="holdateEnd">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.holdateEnd">Holdate End</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="holdatePay">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.holdatePay">Holdate Pay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbCongeAcquis">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.nbCongeAcquis">Nb Conge Acquis</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbCongePris">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.nbCongePris">Nb Conge Pris</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDemande">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.dateDemande">Date Demande</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="decision">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.decision">Decision</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateReponse">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.dateReponse">Date Reponse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contrat.id">
            <div class="d-flex">
              <span jhiTranslate="adpaiekevinApp.conge.contrat">Contrat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conge of conges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/conge', conge.id, 'view']">{{ conge.id }}</a>
          </td>
          <td>{{ conge.holdateStart | formatMediumDate }}</td>
          <td>{{ conge.holdateEnd | formatMediumDate }}</td>
          <td>{{ conge.holdatePay }}</td>
          <td>{{ conge.nbCongeAcquis }}</td>
          <td>{{ conge.nbCongePris }}</td>
          <td>{{ conge.dateDemande | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'adpaiekevinApp.Decision.' + conge.decision }}">{{ conge.decision }}</td>
          <td>{{ conge.dateReponse | formatMediumDate }}</td>
          <td>
            <div *ngIf="conge.contrat">
              <a [routerLink]="['/contrat', conge.contrat.id, 'view']">{{ conge.contrat.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/conge', conge.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/conge', conge.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(conge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
